@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mettre ici les styles "globaux" */

@layer components {
 
    .titreh1 {
        @apply pt-5 text-center font-Anton text-4xl sm:text-5xl lg:text-6xl
    }

    .titreh2 {
        @apply font-Anton text-3xl sm:text-4xl lg:text-5xl
    }

   
}